* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #0f172a;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

section {
  scroll-margin-top: 80px;
}

/* Hero Section */
.prm-bg {
  background-color: #fcdb32;
}
.scnd-bg{
  background-color: #141d38;
}


/* Section Headings */
.section-title {
  color: white;
  font-weight: 800;
}

/* Cards */
.custom-card {
  background: linear-gradient(
    135deg,
    #172554 0%,
    #1e3a8a 100%
  );

  border: 1px solid rgba(96, 165, 250, 0.15);

  border-radius: 18px;

  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);

  transition: all 0.3s ease;
}

.custom-card:hover {
  transform: translateY(-8px);

  box-shadow:
    0 20px 40px rgba(37, 99, 235, 0.3),
    0 0 20px rgba(59, 130, 246, 0.2);
}

/* Tech Badges */
.badge-tech {
  background: rgba(37, 99, 235, 0.15);

  color: #bfdbfe;

  border: 1px solid rgba(147, 197, 253, 0.25);

  padding: 7px 12px;

  border-radius: 999px;

  font-size: 0.85rem;
}

/* Navbar */
.navbar {
  background: #111827 !important;

  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.35);
}

.navbar-brand {
  font-weight: 700;
}

.nav-link {
  transition: 0.3s;
}

.nav-link:hover {
  color: #fcdb32 !important;
}

/* Buttons */
.btn-primary {
  background: #2563eb;
  border-color: #2563eb;
}

.btn-primary:hover {
  background: #1d4ed8;
  border-color: #1d4ed8;
}

/* Footer */
footer {
  background: #111827;
}
.hero-avatar {
  border-radius: 50%;

  border: 5px solid rgba(49, 99, 180, 0.215);

  box-shadow:
    0 0 30px rgba(59, 130, 246, 0.4),
    0 0 80px rgba(59, 130, 246, 0.2);

  transition: transform 0.3s ease;
}

.hero-avatar:hover {
  transform: scale(1.03);
}
.prm-btn{
  background: linear-gradient(
    135deg,
    #fcdb32,
    #9b8c3d
  );
  color: #141d38;
}
.scnd-btn{
  background: linear-gradient(
    320deg,
    #141d38,
    #4968c8
    
  );
  color: white;
}
.custom-btn {
 

  

  border: none;

  padding: 12px 28px;

  border-radius: 25px;

  font-weight: 600;

  text-decoration: none;

  transition: all 0.3s ease;
}

.scnd-btn:hover {
  transform: translateY(-3px);

  color: white;

  box-shadow:
    0 10px 25px rgba(37, 99, 235, 0.4);
}
.prm-btn:hover {
  transform: translateY(-3px);

  color: #141d38;

  box-shadow:
    0 10px 25px rgba(239, 233, 62, 0.4);
}
.custom-btn-outline {
  border: 2px solid #141d38;

  color: #141d38;

  padding: 12px 28px;

  border-radius: 25px;

  font-weight: 600;

  text-decoration: none;

  transition: all 0.3s ease;
}

.custom-btn-outline:hover {
  background: #141d38;

  color: white;

  transform: translateY(-3px);
}